
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Montserrat', sans-serif;
}



.header{
    min-height: 100vh;
    width: 45%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/jet.jfif);
    background-position:center ;
    background-size: cover;
    position: relative;
    color: white;
   
}

.text-box{
    width: 50%;
    height: 80%;
    
    color: rgb(139, 133, 133);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:start;
}

.text-box h1{
    font-size: 50px;

}
.text-box h2{
    margin: 16px 0 45px;
    font-size: 20px;
    

}

.text-box p{
    bottom: 0;
    position: absolute;

}

.text-box:hover{
    color: white;
}


.form{
    position: absolute;
   width: 50%;
   right: 0;
   top: 0;
    color: black;
   
    height: 70%;
    padding-top: 50px ;
    margin: 10px;
    margin-right: 30px;
    
}


.form h1{
    font-size: 35px;

}

.form p{
    padding-top: 20px;
    font-size: 20px;
    color: rgb(201, 94, 6);
    font-weight:500px;
}


.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    margin:auto;
    
    width: 80%;
    margin-top: 60px;
   
}

.contact-col input{
    width: 50%;
    padding: 15px;
    margin-bottom: 17px;
   
   
    display:list-item;
    margin-left: 50px;
    background-color: transparent;
    color:black;
   
    border: none;
    border-bottom: 2px solid rgb(243, 71, 8);
    outline: none;

}




.btn3{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(241, 50, 24);
    padding: 12px 34px;
    font-size: 16px;
    background:rgb(207, 81, 8);
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    border-radius:40px;
    margin-left: 50px;
  
}
.btn3:hover{
    border:1px solid rgb(11, 114, 11);
    background:rgb(8, 124, 8) ;
    transition: 1s;
}